<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>
  Self-Introduction
</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
  An introduction to myself
</p>

<div class="d-flex flex-justify-center mb-4">
  <article class="markdown-body col-12 col-md-10 col-lg-8" itemscope itemtype="http://schema.org/CreativeWork">

    <p>Hey, welcome to my personal website!</p>

    <p>
      I am Haotian Fu, a second-year PhD student majoring in Computer Engineering at
      <a target="_blank" rel="noopener" href="https://www.stonybrook.edu/">Stony Brook University</a>.
      Under the supervision of Prof.
      <a target="_blank" rel="noopener" href="https://www.ece.stonybrook.edu/~fanye/index2.html">Fan Ye</a>,
      my current research interests focus on sensing algorithms and systems for healthcare, such as
      <strong>indoor localization</strong>, <strong>trajectory tracking</strong>, and
      <strong>vital sign monitoring</strong>. 
    </p>
    <p>  
      To support these research topics, I work with techniques including
      <strong>machine learning</strong>, <strong>deep learning</strong>, <strong>signal processing</strong>, 
      <strong>mobile computing</strong>, and <strong>embedded systems</strong>.
      Currently, I have submitted a conference paper as the first author. Details are on the
      <a href="../pub">Publication</a> page.
    </p>

    <h3>Education</h3>
    <p>
      I am currently pursuing my doctoral degree in Computer Engineering at
      <a target="_blank" rel="noopener" href="https://www.stonybrook.edu/electrical/">ECE Department</a>
      of Stony Brook University. All coursework requirement is about to be accomplished by June 2026.
    </p>

    <p>
      Before joining Stony Brook, I obtained my bachelor's degree in
      <strong>Electrical and Computer Engineering</strong> from the
      <a target="_blank" rel="noopener" href="https://www.ji.sjtu.edu.cn/">
        University of Michigan – Shanghai Jiao Tong University Joint Institute
      </a> at
      <a target="_blank" rel="noopener" href="https://www.sjtu.edu.cn/">Shanghai Jiao Tong University</a>,
      with minors in <strong>Computer Science</strong>, <strong>Data Science</strong>, and
      <strong>Global China Study</strong>.
    </p>

    <p>
      For undergraduate research, I joined Prof.
      <a target="_blank" rel="noopener" href="https://www.cs.sjtu.edu.cn/~lijie/">Jie Li</a>'s
      <a target="_blank" rel="noopener" href="https://ibdsys.sjtu.edu.cn/">
        Intelligent Big Data System (iBDSys) Lab
      </a>
      as a research assistant, where I mainly worked on edge computing and mobile computing.
      I co-authored a conference paper as the second author. More details are on the
      <a href="../pub">Publication</a> page.
    </p>

    <!-- <h3>Awards & Scholarships</h3> -->
    <p>During my undergraduate study, I received the following honors and scholarships:</p>
    <ul>
      <li>
        SJTU Outstanding Graduate
        <span>(上海交通大学本科优秀毕业生)</span>
      </li>
      <li>
        SJTU Excellent Undergraduate Scholarship
        <span>(上海交通大学优秀本科生奖学金, twice)</span>
      </li>
      <li>
        National Encouragement Scholarship
        <span>(国家励志奖学金)</span>
      </li>
      <li>
        UM-SJTU JI Yu Liming Scholarship
        <span>(交大密西根学院本科生俞黎明奖学金)</span>
      </li>
      <li>
        UM-SJTU JI Academic Progress Scholarship
        <span>(交大密西根学院本科生学业进步奖学金)</span>
      </li>
    </ul>

    <!-- <h3>Undergraduate Research</h3> -->
    <!-- <p>
      For undergraduate research, I joined Prof.
      <a target="_blank" rel="noopener" href="https://www.cs.sjtu.edu.cn/~lijie/">Jie Li</a>'s
      <a target="_blank" rel="noopener" href="https://ibdsys.sjtu.edu.cn/">
        Intelligent Big Data System (iBDSys) Lab
      </a>
      as a research assistant, where I mainly worked on edge computing and mobile computing.
      I co-authored a conference paper as the second author. More details are on the
      <a href="../pub">Publication</a> page.
    </p> -->

    <h3>More about me</h3>
    <p>
      You can learn about my past research projects in the
      <a href="../projects">Projects</a> section. To know me as a person beyond research,
      please visit the <a href="../about">About</a> section.
    </p>

  </article>

</div>
